<ul>
    <!-- BEGIN automap_not_root -->
    <!-- BEGIN host_or_shape -->
    <li><a href="javascript:window.location='index.php?mod=Map&act=view&show=[map_name]'+getViewParams({'root':'[name]'}, true);">[lang_make_root]</a></li>
    <!-- END host_or_shape -->
    <!-- END automap_not_root -->

    <!-- BEGIN stateful -->
    <li><a href="#" onClick="refreshMapObject(event, '[obj_id]');contextHide();return false">[lang_refresh_status]</a></li>
    <!-- END stateful -->

    <!-- BEGIN not_automap -->
    <!-- BEGIN permitted_edit -->
    <!-- BEGIN stateful -->
    <li class="spacer"><hr /></li>
    <!-- END stateful -->
    <li><a href="#" onClick="cloneObject(event, '[obj_id]');contextHide();return false">[lang_clone]</a></li>
    <!-- BEGIN locked -->
    <li><a href="#" onClick="toggleMapObjectLock(event, '[obj_id]'); contextHide();return false">[lang_unlock]</a></li>
    <!-- END locked -->

    <!-- BEGIN unlocked -->
    <!-- BEGIN polyline -->
    <li class="spacer"><hr /></li>
    <li><a href="#" onClick="addPolylinePointStart(event, '[obj_id]');contextHide();return false">Polyline: add point</a></li>
    <!-- BEGIN polylineatleastthreepoints -->
    <li><a href="#" onClick="removePolylinePoint(event, '[obj_id]');contextHide();return false">Polyline: delete last point</a></li>
    <!-- END polylineatleastthreepoints -->
    <!-- END polyline -->
    <li class="spacer"><hr /></li>
    <li><a href="#" onClick="toggleMapObjectLock(event, '[obj_id]'); contextHide();return false">[lang_lock]</a></li>
    <li><a href="#" onClick="showAddModifyDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_modify]</a></li>
    <li><a href="#" onClick="removeMapObject(event, '[obj_id]');contextHide();return false">[lang_delete]</a></li>
    <!-- END unlocked -->
    <!-- END permitted_edit -->
    <!-- END not_automap -->

    <!-- BEGIN host -->
    <li class="spacer"><hr /></li>
    <!-- BEGIN has_host_downtime_url -->
    <li><a href="[host_downtime_url]" target="_blank">[lang_schedule_downtime]</a></li>
    <!-- END has_host_downtime_url -->
    <!-- BEGIN has_host_ack_url -->
    <li><a href="[host_ack_url]" target="_blank">[lang_reschedule_next_check]</a></li>
    <!-- END has_host_ack_url -->
    <!-- BEGIN permitted_perform -->
    <li><a href="#" onClick="showAckDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_ack]</a></li>

    <!-- BEGIN action_rdp -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=rdp&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_rdp]</a></li>
    <!-- END action_rdp -->
    <!-- BEGIN action_win_ssh -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=win_ssh&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_ssh]</a></li>
    <!-- END action_win_ssh -->
    <!-- BEGIN action_ssh_url -->
    <li><a href="ssh://[address]/">[lang_action_ssh]</a></li>
    <!-- END action_ssh_url -->
    <!-- BEGIN action_http -->
    <li><a href="http://[address]/" target="_blank">[lang_action_http]</a></li>
    <!-- END action_http -->
    <!-- BEGIN action_https -->
    <li><a href="https://[address]/" target="_blank">[lang_action_https]</a></li>
    <!-- END action_https -->

    <!-- END permitted_perform -->
    <!-- END host -->

    <!-- BEGIN service -->
    <li class="spacer"><hr /></li>
    <!-- BEGIN has_service_downtime_url -->
    <li><a href="[service_downtime_url]" target="_blank">[lang_schedule_downtime]</a></li>
    <!-- END has_service_downtime_url -->
    <!-- BEGIN has_service_ack_url -->
    <li><a href="[service_ack_url]" target="_blank">[lang_reschedule_next_check]</a></li>
    <!-- END has_service_ack_url -->
    <!-- BEGIN permitted_perform -->
    <li><a href="javascript:void(0)" onClick="showAckDialog('[map_name]', '[obj_id]');contextHide();return false">[lang_ack]</a></li>

    <!-- BEGIN action_rdp -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=rdp&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_rdp]</a></li>
    <!-- END action_rdp -->
    <!-- BEGIN action_win_ssh -->
    <li><a href="javascript:void(0)" onClick="window.location=oGeneralProperties.path_server+'?mod=Action&act=custom_action&cmd=win_ssh&map=[map_name]&object_id=[obj_id]';contextHide();return false">[lang_action_ssh]</a></li>
    <!-- END action_win_ssh -->
    <!-- BEGIN action_ssh_url -->
    <li><a href="ssh://[address]/">[lang_action_ssh]</a></li>
    <!-- END action_ssh_url -->
    <!-- BEGIN action_http -->
    <li><a href="http://[address]/" target="_blank">[lang_action_http]</a></li>
    <!-- END action_http -->
    <!-- BEGIN action_https -->
    <li><a href="https://[address]/" target="_blank">[lang_action_https]</a></li>
    <!-- END action_https -->

    <!-- END permitted_perform -->
    <!-- END service -->

    <!-- BEGIN hostgroup -->
    <li onmouseover="ddMenu('context-addlinefromhere-[obj_id]', true)" onmouseout="ddMenuHide();" class="dropdown subdropdown">
        <a class="submenu-link" id="context-addlinefromhere-[obj_id]-ddheader" href="#">Add Line From Here</a>
        <ul id="context-addlinefromhere-[obj_id]-ddcontent">
          <li><a class="topline" href="#" onclick="addLineFromPosition(event, 'host', '[obj_id]');ddMenuHide();contextHide();">Host</a></li>
          <li><a class="" href="#" onclick="addLineFromPosition(event, 'service', '[obj_id]');ddMenuHide();contextHide();">Service</a></li>
          <li><a class="" href="#" onclick="addLineFromPosition(event, 'hostgroup', '[obj_id]');ddMenuHide();contextHide();">Hostgroup</a></li>
          <li><a class="" href="#" onclick="addLineFromPosition(event, 'servicegroup', '[obj_id]');ddMenuHide();contextHide()">Service Group</a></li>
          <li><a class="underline" href="#" onclick="addLineFromPosition(event, 'dyngroup', '[obj_id]');ddMenuHide();contextHide();">Dynamic Group (this hostgroup's hosts)</a></li>
          <li><a class="underline" href="#" onclick="addLineFromPosition(event, 'line', '[obj_id]'); ddMenuHide();contextHide();">Stateless Line</a></li>
        </ul>
    </li>
    <!-- END hostgroup -->
</ul>
